.App {
  text-align: center;
}
.Form {
  border: 1px solid #ccc;
  margin: 0 auto;
  background-color: white;
  margin-top: 2%;
  padding: 10px;
  border-radius: 5px;
  width: 30%;
}
.H1 {
  margin-top: 5%;
  color: white;
}
.Button {
  border: 1px solid #ccc;
  margin: 0 auto;
  background-color:rgb(190, 190, 190);
  margin-top: 2%;
  padding: 10px;
  border-radius: 5px;
  width: 40%;
  cursor: pointer;
  color: white;
  font-weight: bold;
}
.Button:disabled {
  cursor: not-allowed;
}
.Button:disabled:hover {
  background-color: rgb(190, 190, 190);
}
.Button:enabled{
  background-color: rgb(224, 171, 71);
}
@media only screen and (max-width: 650px) {
  .Button {
    width: fit-content;
  }
  .Form {
    width: fit-content;
  }
}
